registry=https://registry.npmjs.org/
//registry.npmjs.org/:_auth=${NPM_REGISTRY_TOKEN}
email=${NPM_EMAIL}

#npmScopes:
# anatha:
#   npmAlwaysAuth: true
#   npmRegistryServer: "https://registry.npmjs.org/"
#   npmAuth: ${NPM_REGISTRY_TOKEN}